.card {
    box-shadow: 0px 2px 4px black;
}

.btnFoter {
    min-width: 90%;
    font-size: large;
    padding: 8px;
    margin: 4px 0;
}

@media (min-width: 768px) {
    .card:hover {
        box-shadow: 5px 5px 10px 4px black;
    }

    .btnFoter:hover {
        opacity: 0.9;
        color: black;
        font-weight: 700;
        box-shadow: 5px 5px 10px black;
    }
}